.timeline{
    display: flex;
    flex-direction: column;
    border-left: 1px solid  rgba(255, 255, 255, 0.128);
    /* background-color: #fff; */
    /* justify-content: center; */
}
.timeline__container{
    display: flex;
}
.timeline__left{
}
.timeline__right{
    flex: .7;
}
@media screen and (max-width: 480px){
    .timeline{
    border-left: none;
    padding-top: ;
    width: 370px !important;
}
.timeline__left{
    
}
.timeline__right{
    display: none;
}
}
@media screen and (max-width: 750px){
    .timeline{
    border-left: transparent;
    width: 570px;

}
}