.timeline{
    display: flex;
    flex-direction: row;
    border-left: 1px solid  rgba(255, 255, 255, 0.128);
    border-right: 1px solid  rgba(255, 255, 255, 0.128);
}
.timeline__left{
    flex: .7;
}
.timeline__right{
    flex: .7;
}