.post{
    width: 550px;   
    margin: 30px 40px 50px 40px;
    padding: 0 50px ;
}
.post__header{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}
.post__headerAuthor{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: bolder;
}
.post__headerAuthor > span{
    color: gray;
    font-size: 15px;
    padding: .5em;
}
.post__image > img{
    width: 100%;
    border-radius: 6px;
    border: .6px solid rgba(128, 128, 128, .516);
}
.post__footer{
    
}
.post__iconsMain{
    display: flex;
    gap: 1em;
}
.message_btn,
.comment_btn,
.like_btn{
  cursor: pointer;
}
.post__footerIcons{
 display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: space-between;
}
.postIcon{
    padding: 7px;
    font-size: 25px;
}
.postIcon:hover{
    cursor: pointer;
}